@use '../config' as *;

.filter {
	height: 100%;

	&__head {
		justify-content: space-between;
		gap: rem(20);
		display: flex;
		align-items: center;

		svg {
			display: none;

			@media only screen and (max-width: 767px) {
				display: block;
			}
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		height: 100%;

		@include media-mx(767) {
		}
	}

	&__arrow {
		display: flex;
		align-items: center;
		transform: rotate(180deg);
		transition: 300ms;

		&.is-rotated {
			transform: rotate(0);
		}
	}

	&__grids {
		@media only screen and (max-width: 767px) {
			height: calc(100vh - 140px);
			overflow: auto;
			padding-right: 20px;
			margin-right: -20px;

			&::-webkit-scrollbar-track {
				background: #fff;
				width: 5px;
			}

			&::-webkit-scrollbar-thumb {
				background: #9c9c9c;
				width: 5px;
				border-radius: 4px;
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		cursor: pointer;

		h4 {
			order: -1;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
	}

	&__name {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: rem(60);
		padding: 0 rem(20);
		border-radius: rem(8);
		background-color: var(--color-white);
		transition: var(--bs-transition);
		cursor: pointer;

		&:hover {
			background-color: var(--color-green-800);

			.filter__name-item {
				color: var(--color-white);
			}

			.filter__name-icon {
				fill: var(--color-white);
			}
		}

		&.is-open {
			background-color: var(--color-green-900);

			.filter__name-item {
				color: var(--color-white);
			}

			.filter__name-icon {
				fill: var(--color-white);
				transform: rotate(180deg);
			}
		}
	}

	&__checkbox {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: rem(10);
			display: none;

			&.is-open {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
				display: flex;
			}
		}

		&-item {
			display: flex;
			align-items: center;
			gap: rem(10);

			input {
				position: relative;
				flex: 0 0 rem(20);
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(20);
				height: rem(20);
				margin: rem(2);
				appearance: none;
				-webkit-appearance: none;
				border: 1px solid var(--color-grey-400);
				border-radius: rem(4);
				outline: none;
				transition: var(--bs-transition);
				cursor: pointer;

				&::after {
					content: '';
					display: block;
					width: rem(13);
					height: rem(10);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					transition: var(--bs-transition);
				}

				&:checked {
					border-color: var(--color-red-light);
					background-color: var(--color-red-light);

					&::after {
						background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDFMNSAxMUwxIDcuODQyMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
					}
				}
			}

			&:hover {
				.u-text-md {
					color: var(--color-green-800);
				}
			}
		}
	}
}
