@font-face {
	font-family: 'Manrope-Font';
	font-display: swap;
	src: url("../fonts/Manrope-VariableFont.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'UNCAGE-Font';
	font-display: swap;
	src: url("../fonts/UNCAGE-VariableFont.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

